//========================
// everything in the bins
//========================

#bin_title {
  margin: 10px auto;
  padding: 10px;
  position: relative;
  border: 5px solid black;
  width: 200px;
  text-align: center;
}

#bin_body {
  display: flex;
  flex-flow: row wrap;
  //justify-content: space-around;
  justify-content: center;
  margin: 0 0 1em 0;
}

.large_numbers {
  position: relative;

  font-weight: 700;
  font-size: 3em;
}

.bin {
  position: relative;
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 100px;
  border: 5px solid black;
}

.bin_controls {
  position: relative;
  bottom: 0px;
  left: 0px;
}

.bin_killer {
  position: relative;
  top: -108px;
  right: -185px;
}

.stock_text {
  position: relative;
  bottom: 10px;
  left: 100px;
}

.bin_button {
  color: black;
  background: rgba(255,255,255, 0.0);
  border-radius: 30%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-left: 0px;
  margin-right: 0px;
}